/* mengatur responsive */
@media screen and (max-width: 576px) {

  .home-area .home-text h1 {

    font-size: 40px;

  }

  .section-padding {

    margin-top: 2px;
    margin-bottom: 2px;
  }


  .section-title h2 {
    font-size: 25px;

  }

  p.para-b {

    font-size: 14px;

  }

  p.para-w {

    font-size: 14px;

  }


  .galeri-area .button-group button+button {
    margin-left: 1rem;
  }

  footer {
    border-radius: 20px 20px 0 0;
  }

}


/* Tablet */

@media only screen and (max-width: 800px) {}


@media screen and (max-width: 992px) {
  .navbar-area .navbar-collapse {
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: var(--shadow-black-100);
    background-color: #ffffff;
    padding: 10px;
  }

  .nav-contact {
    display: none
  }

  .navbar .navbar-nav .nav-item {
    margin-left: 0px;
  }


  .galeri-area .button-group button+button {
    margin-left: 2rem;
  }

  footer {
    border-radius: 40px 40px 0 0;
  }

}